@charset "UTF-8";
html {
  display: flex;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  justify-content: center;
  background-image: url("image/20008474_6230276.svg");
  background-size: cover;
}

h2 {
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  background-size: cover;
  align-items: center;
  width: 80%;
}

.mainpage {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgb(174, 218, 255) 0%, rgb(224, 220, 213) 100%);
  background-attachment: fixed;
  align-items: center;
}

.mainpage_div {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 100%;
}

/* header-start */
header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-content: space-between;
}
header a, header h2 {
  display: flex;
  text-decoration: none;
  color: #005F7E;
  align-items: center;
  font-weight: normal;
  font-size: 18px;
}

nav {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

.nav_main,
.nav_plan {
  display: flex;
  flex-direction: row;
  gap: 45px;
  height: 60px;
  align-items: center;
}

.nav_plan a, .nav_plan h2 {
  color: black;
}

.nav_plan-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 40px;
  border-radius: 25px;
  border-style: none;
  background-color: #86FF84;
}

.nav_plan-button:active {
  transition: 0.3s;
  transform: scale(0.9);
  background-color: #5fff5d;
}

.nav_main_ico {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.nav_main_ico img {
  width: 130px;
  height: auto;
}

.nav_main_ico_info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.nav_main_ico_info h2 {
  font-size: 22px;
  margin: 0;
  font-weight: bold;
}

.nav_main_ico_info_label {
  display: flex;
  flex-direction: row;
  width: 160px;
  height: 30px;
  background-color: #FFC4A3;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-sizing: border-box;
  padding-left: 5px;
}
.nav_main_ico_info_label p {
  font-weight: 500;
  font-size: 11px;
}
.nav_main_ico_info_label img {
  margin-right: -7px;
  width: 55px;
  height: 100%;
  border-radius: 60px;
}

.nav_lang {
  display: flex;
  flex: 1;
  background-color: black;
  width: 100px;
  height: 37px;
  border-radius: 25px;
}

/* header-end */
/* main-start */
main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_page {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.main_page_photo, .main_page_info {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 50%;
  height: 100%;
  justify-content: center;
}

.main_page_info {
  gap: 10px;
}
.main_page_info h2 {
  font-size: 38px;
  margin: 0;
  font-weight: 1000;
}
.main_page_info p {
  font-size: 22px;
  color: #4A4A4A;
}
.main_page_info button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 60px;
  border-radius: 25px;
  border-style: none;
  background-color: #5cdb5a;
}
.main_page_info button h2 {
  font-size: 21px;
  margin: 0;
  font-weight: normal;
}
.main_page_info button:active {
  transition: 0.3s;
  transform: scale(0.9);
  background-color: #32d62f;
}

.main_page_photo {
  align-items: center;
}

.main_page_photo_photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main_page_photo_photo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* main-end */
/* take_a_class-start */
.take_a_class {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: inline;
  padding: 10px;
}

.take_a_class_area {
  display: flex;
  flex-direction: column;
  width: 490px;
  height: 650px;
  background-color: #007AA0;
  border-radius: 40px;
  margin-left: 80px;
  margin-top: 120px;
  overflow: hidden;
}
.take_a_class_area h2 {
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  color: white;
  margin: 35px 0 35px 0;
}

.take_a_class_inside {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 550px;
}

.take_a_class_inside_block {
  display: flex;
  flex-direction: column;
  display: inline;
  padding: 50px;
  gap: 30px;
}
.take_a_class_inside_block label {
  font-weight: bold;
}

.take_a_class_inside_block_form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.take_a_class_inside_block_in,
.take_a_class_inside_block_time {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.take_a_class_inside_block_input_box,
.take_a_class_inside_block_input_submit {
  display: inline-block; /* Сохраняем элемент inline, но разрешаем управлять размерами */
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  border: #797979 2px solid;
  background-color: #E7E8ED;
  box-sizing: border-box; /* Чтобы padding и border включались в ширину и высоту */
}

.take_a_class_inside_block_input_box::placeholder {
  color: #4A4A4A;
  opacity: 0.5;
}

.take_a_class_inside_block_submit {
  display: flex;
  flex-direction: row;
  position: relative;
}
.take_a_class_inside_block_submit img {
  position: absolute; /* Абсолютное позиционирование иконки */
  display: inline;
  width: 60px;
  height: 60px;
  top: 50%; /* Центрируем иконку по вертикали */
  left: 50%; /* Центрируем иконку по горизонтали */
  transform: translate(260%, -50%); /* Сдвинуть иконку, чтобы она оказалась по центру */
}

.take_a_class_inside_block_input_submit {
  height: 55px;
  background-color: #86FF84;
  border: none;
  font-size: 20px;
}

.take_a_class_inside_block_input_submit:active {
  background-color: #49e946;
}

/* take_a_class-end */

/*# sourceMappingURL=style.css.map */
