@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

html{
  display: flex;
  min-height: 100%;
  font-family: 'Inter', sans-serif;
}

h2{
  font-weight: normal;
}

body{
  @include flex-column();
  background-image: url('image/background.png');
  background-size: cover;
}

.mainpage {
  @include flex-column();
  background: linear-gradient(180deg, rgba(174,218,255,1) 0%, rgba(224,220,213,1) 100%);
  background-attachment: fixed;
  align-items: center;
}

.mainpage_div {
  @include flex-column();
  width: 80%;
  display: flex;
  flex: 1;

}
/* header-start */

header{
  height: 80px;
  display: flex;
  justify-content: center;
  align-content: space-between;
  a, h2{
    display: flex;
    text-decoration: none;
    color: #005F7E;
    align-items: center;
    font-weight: normal;
    font-size: 18px
  }
}

nav {
  @include flex-row();
  flex: 1;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

.nav_main,
.nav_plan{
  @include flex-row();
  gap: 45px;
  height: 60px;
  align-items: center;
}

.nav_plan{
  a, h2 {
    color: black;
  }
}

.nav_plan-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 40px;
  border-radius: 25px;
  border-style: none;
  background-color: #86FF84;
  }

.nav_plan-button:active{
  transition: 0.3s;
  transform: scale(0.9);
  background-color: #5fff5d
}


.nav_main_ico{
  @include flex-row();
  flex: 1;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  img {
    width: 130px;
    height: auto;
  }
}

.nav_main_ico_info{
  @include flex-column();
  gap: 2px;
  h2{
    font-size: 22px;
    margin: 0;
    font-weight: bold
  }
}

.nav_main_ico_info_label{
  @include flex-row();
  width: 160px;
  height: 30px;
  background-color: #FFC4A3;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-sizing: border-box;
  padding-left: 5px;
  
  p{
    font-weight: 500;
    font-size: 11px;
  }
  img{
    margin-right: -7px;
    width: 55px;
    height: 100%;
    border-radius: 60px;
  }

}

.nav_lang{
  display: flex;
  flex: 1;
  background-color: black;
  width: 100px;
  height: 37px;
  border-radius: 25px;
}


/* header-end */

/* main-start */
main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.main_page{
  @include flex-row();
  height: 100%;
}

.main_page_photo, .main_page_info{
  @include flex-column();
  flex: 1;
  width: 50%;
  height: 100%;
  justify-content: center;
}

.main_page_info{
  gap: 10px;
  h2{
    font-size: 38px;
    margin: 0;
    font-weight:1000;
  }
  p{
    font-size: 22px;
    color: #4A4A4A ;
  }
  button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60px;
    border-radius: 25px;
    border-style: none;
    background-color: #5cdb5a;
    h2{
      font-size: 21px;
      margin: 0;
      font-weight: normal;
    }
  }
  button:active{
    transition: 0.3s;
    transform: scale(0.9);
    background-color: #32d62f;
  }
}

.main_page_photo{
  align-items: center
}

.main_page_photo_photo{
  @include flex-column();

  align-items: center;
  justify-content: center;
  img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

/* main-end */
