@import 'node_modules/gerillass/scss/gerillass';

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin buttom-active {
  transition: 0.3s;
  transform: scale(0.9);
}

html {
  display: flex;
  min-height: 100%;
  font-family: 'Inter', sans-serif;
  justify-content: center;
  background: linear-gradient(87deg, rgba(208,233,255,1) 0%, rgba(246,238,225,1) 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}


h2{
  font-weight: normal;
}

body{
  @include flex-column();
  background-size: cover;
  align-items: center;
  width: 80%;
  margin: 0
}

.mainpage {
  @include flex-column();
  background-attachment: fixed;
  align-items: center;
}

.mainpage_div {
  @include flex-column();
  flex: 1;
  min-width: 100%;

}
/* header-start */




header{
  height: 80px;
  display: flex;
  justify-content: center;
  align-content: space-between;
  a, h2{
    display: flex;
    text-decoration: none;
    color: #005F7E;
    align-items: center;
    font-weight: normal;
    font-size: 18px
  }
}


nav {
  @include flex-row();
  flex: 1;
  align-items: center;
  font-size: 24px;
  width: 100%;
  gap: 40px;
  justify-content: space-between
}

.nav_main,
.nav_plan,
.nav_info,
.nav_logo{
  @include flex-row();
  gap: 45px;
  height: 60px;
  align-items: center;
}
.nav_main{
  justify-content: space-between;
  flex: 1;
}

.nav_plan{
  a, h2 {
    color: black;
  }
}

.nav_plan-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 45px;
  border-radius: 25px;
  border-style: none;
  background-color: #86FF84;
  }

.nav_plan-button:active{
  @include buttom-active();
  background-color: #5fff5d
}


.nav_main_ico{
  @include flex-row();
  flex: 1;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  img {
    width: 80px;
    height: auto;
  }
}

.nav_main_ico_info{
  @include flex-column();
  gap: 2px;
  h2{
    font-size: 22px;
    margin: 0;
    font-weight: bold
  }
}

.nav_main_ico_info_label{
  @include flex-row();
  width: 160px;
  height: 30px;
  background-color: #FFC4A3;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-sizing: border-box;
  padding-left: 5px;
  
  p{
    font-weight: 500;
    font-size: 11px;
  }
  img{
    margin-right: -7px;
    width: 55px;
    height: 100%;
    border-radius: 60px;
  }

}

.nav_lang{
  display: flex;
  flex: 1;
  background-color: black;
  width: 100px;
  height: 45px;
  border-radius: 25px;

}
.checkbox_nav_burger{
  display: none;
}
@media (min-width: 1190px){
  .nav_burger{
    display: none;
  }
  .nav-hr{
    display: none;
  }

}

@media (max-width: 1190px) {
  nav{
    gap: 0;
  }

  .nav_main, .nav_info, .nav_plan {
    display: flex; /* Замена @include flex-column() для примера без SCSS */
    flex-direction: column;
    gap: 10px;
    flex: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    color: #005F7E;
    h2, a {
      color: #005F7E; /* Это правило было вынесено, чтобы избежать неправильного вложения */
      font-size: 20px;
    }
  }
  
  .nav_main {
    transform: translateY(-100%);
    width: 80%;
    margin-left: 10%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(182, 182, 182, 0.267);
    transition: transform 0.5s ease; /* Длительность анимации увеличена для медленного появления и исчезания */
  }
  
  .nav_main.active {
    transform: translateY(28%);
    /* transition: transform 0.5s ease; Нет необходимости дублировать, уже определено в .nav_main */
  }
  
  .nav_info {
    padding-top: 20px;
  }
  .nav_plan-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #86FF84;
    border-radius: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -22px;
  }
  .nav_plan-button:active{
    transition: 0s;
    transform: none;
  }

  .nav_main_ico img {
    width: 70px;
    height: auto;
  }
  .nav_burger{
    @include flex-column();
    margin-top: 8px;
    min-width: 40px;
    min-height: 40px;
    gap: 8px;
    cursor: pointer;
  }
  .nav_burger_line {
    height: 5px;
    width: 100%;
    border-radius: 10px;
    background: #005F7E;
    transition: transform 0.3s ease;
  } 
  .nav_burger.active .line1 {
    transform: rotate(45deg) translate(10px, 10px);
    transition-duration: 0.4s;
  }

  .nav_burger.active .line2 {
    opacity: 0;
  }

  .nav_burger.active .line3 {
    transform: rotate(-45deg) translate(8px, -8px);
    transition-duration: 0.4s;
  }

}
/* header-end */

/* main-start */

@mixin background-main-block{
  background-color: rgba(255, 255, 255, 0);
}

main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.main_page{
  @include flex-row();
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.main_page_photo, .main_page_info{
  @include flex-column();
  justify-content: center;
}

.main_page_info{
  width: 700px;
  box-sizing: border-box;
  height: 500px;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 5px;
  @include background-main-block();
  gap: 10px;
  h2{
    font-size: 38px;
    margin: 0;
    font-weight:1000;
  }
  p{
    font-size: 22px;
    color: #4A4A4A ;
  }
  button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60px;
    border-radius: 25px;
    border-style: none;
    background-color: #5cdb5a;
    h2{
      font-size: 21px;
      margin: 0;
      font-weight: normal;
    }
  }
  button:active{
    @include buttom-active();
    background-color: #32d62f;
  }
}

.main_page_photo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.main_page_photo_photo{
  @include flex-column();
  @include background-main-block();
  border-top-left-radius: 100px;
  border-bottom-right-radius: 70px;
  align-items: center;
  justify-content: center;
  img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

/* main-end */
/* take_a_class-start */
.take_a_class{
  @include flex-column();
  flex: 1;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: inline;
  padding: 10px;
}

.take_a_class_area{
  @include flex-column();
  width: 490px;
  height: 650px;
  background-color: #007AA0;
  border-radius: 40px;
  margin-left: 80px;
  margin-top: 120px;
  overflow: hidden;
  h2{
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    color: white;
    margin: 35px 0 35px 0;
  }
}

.take_a_class_inside{
  @include flex-column();
  background-color: white;
  height: 550px;
}

.take_a_class_inside_block{
  @include flex-column();
  display: inline;
  padding: 50px;
  gap: 30px;
  label{
    font-weight: bold;
  }
}
.take_a_class_inside_block_form{
  @include flex-column();
  gap: 40px;
}

.take_a_class_inside_block_in,
.take_a_class_inside_block_time{
  @include flex-column();
  gap: 10px;
}

.take_a_class_inside_block_input_box,
.take_a_class_inside_block_input_submit{
  display: inline-block;  /* Сохраняем элемент inline, но разрешаем управлять размерами */
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  border: #797979 2px solid;
  background-color: #E7E8ED;
  box-sizing: border-box;  /* Чтобы padding и border включались в ширину и высоту */
}

.take_a_class_inside_block_input_box::placeholder{
  color: #4A4A4A;
  opacity: 0.5;
}

.take_a_class_inside_block_submit{
  @include flex-row();
  position: relative;
  img{
    position: absolute; /* Абсолютное позиционирование иконки */
    display: inline;
    width: 60px;
    height: 60px;
    top: 50%; /* Центрируем иконку по вертикали */
    left: 50%; /* Центрируем иконку по горизонтали */
    transform: translate(260%, -50%); /* Сдвинуть иконку, чтобы она оказалась по центру */
  }
}

.take_a_class_inside_block_input_submit{
  height: 55px;
  background-color: #86FF84;
  border: none;
  font-size: 20px;
}

.take_a_class_inside_block_input_submit:active{
  @include buttom-active();
  background-color: #49e946;
}

/* take_a_class-end */

/* about-start */

.about-container{
  @include flex-row();
  @include background-main-block();
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
  width: 550px;
  height: 300px;
  border-radius: 50px;
  img{
    max-width: 100%;
    max-height: 100%;
  }
  p{
    font-size: 20px;
  }
}

/* about-end */