{% extends "base.html" %}
{% load static %}
{% block title %}Записаться на занятие{% endblock title %}
{% block content %}
    <main>
        <div class="main_page">
            <div class="take_a_class">
                <div class="take_a_class_area">
                    <h2>Записаться на занятие</h2>
                </div>
                <div class="take_a_class_inside">
                    <form action="" class="take_a_class_inside_block_form" method="post">
                        <div class="take_a_class_inside_block_in">
                            <label for="box">Имя</label>
                            <input 
                                type="text" 
                                id="box" 
                                name="box" 
                                class="take_a_class_inside_block_input_box"
                                placeholder="Например: Иван">
                        </div>
                        <div class="take_a_class_inside_block_in">
                            <label for="box">Фамилия</label>
                            <input 
                                type="text" 
                                id="box" 
                                name="box" 
                                class="take_a_class_inside_block_input_box"
                                placeholder="Например: Иванов">
                        </div>
                        <div class="take_a_class_inside_block_time">
                            <label for="box-time">Дата</label>
                            <input type="datetime-local" id="box-time" name="box-time" class="take_a_class_inside_block_input_box">
                        </div>
                        <div class="take_a_class_inside_block_submit">
                            <button class="main_page_info_btn">
                                <h2>Записаться</h2>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div >
            </div>
        </div>
    </main>
{% endblock content %}