{% extends "base.html" %}
{% load static %}
{% block title %}Записаться на занятие{% endblock title %}
{% block content %}
    <main>
        <div class="main_page">
            <div class="take_a_class">
                <div class="take_a_class_area">
                    <h2>Записаться на занятие</h2>
                </div>
                <div class="take_a_class_inside">
                    <form class="take_a_class_inside_block_form" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p>*Вы будете перенаправлены в WhatsApp Messenger для связи с преподавателем.</p>
                        <div class="take_a_class_inside_block_submit">
                            <button class="main_page_info_btn">
                                <h2>Записаться*</h2>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div >
            </div>
        </div>
    </main>
{% endblock content %}