{% extends "base.html" %}
{% load static %}
{% block title %}Записаться на занятие{% endblock title %}
{% block content %}
    <main>
        <div class="main_page">
            <div class="take_a_class">
                <div class="take_a_class_area">
                    <h2>Записаться на занятие</h2>
                </div>
                <div id="check-info" class="modal">
                    <p class="modal-top">Проверьте введённые данные</h2>
                    <p class="modal-data">Преподаватель: Хутова Агнесса Чухаибовна</h3>
                    <p class="modal-data">Занятие по абазинскому языку</h3>
                    <p class="modal-data">{{ first_name }}</h3>
                    <p class="modal-data">Дата: 21.04.2023</h3>
                    <p class="modal-data">Время: 15:30</h3>
                    <p class="modal-comment">*Вы будете перенаправлены в WhatsApp Messenger для записи.</p>
                    <div class="modal-buttons">
                        <a href="#" class="modal-button modal-accept">Записаться</a>
                        <a href="#" rel="modal:close" class="modal-button modal-decline">Отменить</a>
                    </div>
                </div>
                <div class="take_a_class_inside">
                    <form class="take_a_class_inside_block_form" id="SignForm">
                        {% csrf_token %}
                        <div class="take_a_class_inside_block_in">
                            <label for="box">Имя</label>
                            <input 
                                type="f_name" 
                                id="box" 
                                name="box" 
                                class="take_a_class_inside_block_input_box"
                                placeholder="Например: Иван">
                        </div>
                        <div class="take_a_class_inside_block_in">
                            <label for="box">Фамилия</label>
                            <input 
                                type="l_name" 
                                id="box" 
                                name="box" 
                                class="take_a_class_inside_block_input_box"
                                placeholder="Например: Иванов">
                        </div>
                        <div class="take_a_class_inside_block_time">
                            <label for="box-time">Дата</label>
                            <input type="datetime_local" id="box-time" name="box-time" class="take_a_class_inside_block_input_box">
                        </div>
                        <div class="take_a_class_inside_block_submit">
                            <button class="main_page_info_btn" type="submit">
                                <h2>Записаться</h2>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div >
            </div>
        </div>
    </main>
{% endblock content %}